@import '../../styles/settings.scss';

.navbar {
  width: calc(33% - 12px);
  background: $color-light;
  margin: 0 auto $base-size auto;
  padding: ($base-size * 1.5);
  border-radius: $radius;
  color: $color-dark;
}

nav {
  height: auto;
  display: none;

  &.active {
    display: block;
  }
}

.navbarList {
  padding-left: 0;
  padding-top: $base-size * 0.5;
}

.icon {
  > i {
    margin-top: $base-size * 0.75;
    transform: rotate(180deg);
    font-size: $base-size * 1.5;
    
    &.active {
      transform: rotate(0deg);
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.listTitle {
  padding-top: $base-size;
  font-size: $base-size * 1.5;
  list-style: none;
}

.columnTitle {
  font-size: $base-size;
  list-style: none;
}